@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Raleway:wght@100;200;300;400;500;600;700&family=Shrikhand&display=swap');
$fontFamily: 'Raleway', sans-serif; 
$primary: #0065FC;
$grey: #F2F2F2;
//$boxShadow:  ;
