@import "../../assets/styles/flex"  ;
@import "../../assets/styles/variables"  ;

header{
    figure{
        @include  d-flex-a-j-c(center) ;
        height: 79px;
        img{
            width: 61px;
            height: 19px;
        }
    }
}
nav{
    ul{
        @include d-flex-j-c-FlexWrap(space-around) ;
        height: 36px;
        li{
            width: 50%;
            text-align: center;
            //border: $primary;        NAVLINK NAVLINK NAVLINK
            //border-bottom: solid;       NAVLINK NAVLINK NAVLINK
        }
    }
}